html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

.cont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen {
    border: solid 1px gray;
}